html {
    display: flex;
    justify-content: center;
}

body {
    width: 70vw;
    /* margin:0 */
}

.input {
    padding: 10px;
}

.add {
    margin: 10px;
    padding: 10px 20px;
    background-color: rgb(68, 190, 68);
    border-radius: 30px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.tabs {
    position: relative;
}

.shadow {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgb(77, 89, 251, 0.8);
    z-index: -1;

    /* border-top-right-radius: 10px; */
    transition: all .6s;
}

#tabs {
    display: flex;
}

#tabs li {
    padding: 10px 20px;
    border-top: 1px solid black;
    /* border-bottom: 1px solid black; */
    border-left: 1px solid black;
    border-top-right-radius: 10px;
}

#tabs li:last-child {
    border-right: 1px solid black;
}

.task-board {
    border: 1px solid blue;
    background: rgb(77, 89, 251, 0.8);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



.undone {
    background: #74e49d;
    color: black;
    transition: all .6s;
}

.done {
    background: rgba(236, 238, 247, 0.4);
    color: gray;
    transition: all .6s;
}

.debug {
    margin-top: 10px;
    border: 1px solid red;
    word-wrap: break-word;
}


.debug div {
    margin: 10px;
}

.debug h3 {
    margin: 10px;
}

button {
    border: none;
    outline: none;
    /* 선택 시 나타나는 외곽선도 없애려면 추가 */
    background-color: transparent;
}

.fa-check {
    color: rgb(1, 137, 24);
}

.fa-trash {
    color: red;
}

.fa-rotate-left {
    color: rgb(0, 34, 255)
}

.todo {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.todo li {
    width: 200px;
    height: 150px;

    margin: 10px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    border-top-left-radius: 10px;

    position: relative;

    /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    /* 그림자 설정 */
    transition: all .3s;
}

.value {
    position: absolute;
    top: 70px;
    left: 50px;
}

.icon {
    position: absolute;
    top: 10px;
    right: 20px;
}

.date {
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: gray;
}

.canvas-container {
    width: 400px;
    height: 400px;
}


@media (max-width: 885px) {
    .tip {
        display: block;
    }

    .todo li {
        width: 150px;
        height: 110px;

        margin: 5px;
        padding: 5px;
    }

    .value {
        position: absolute;
        top: 45px;
        left: 30px;
    }

    /* 아래는 설정해도 이상하게 변화 안된다. */
    /* canvas {
        width: 100px;
        height: 100px;
    }

    .canvas-container {
        width: 100px;
        height: 100px;
    } */
}